div.browsePage {
    h2 {
        color: var(--textColor_gray_dark);
        font-weight: normal;
    }
}

div.browsePage,
div.browsePage-searching {
    margin: 4% 10.5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;

    h2 {
        font-weight: normal;
        color: var(--textColor_gray_dark);
    }

    div.searchedHighlights-components, div.searchedPeople-profiles{
        color: var(--textColor_gray_dark);
        margin: 1% 0;
    }
}


div.popularNotes,
div.popularByGenre,
div.recommendationsBasedOnFlavour {
    display: flex;
    flex-direction: row;
    gap: var(--gapNotes);
    width: 83vw;

    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: var(--borderRadiusNote);
}