div.notes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default 4 cards in a row */
    gap: 20px;
    margin: 2% 10%;
}

@media screen and (max-width: 1350px) {
    div.notes {
        /*min-width: 900px;*/
        grid-template-columns: repeat(3, 1fr); /* Adjust to 2 cards for smaller screens */
        margin: 2% 10%;

    }
}

@media screen and (max-width: 1050px) {
    div.notes {
        min-width: 400px;
        grid-template-columns: repeat(2, 1fr); /* Default 4 cards in a row */

    }
}

@media screen and (max-width: 768px) {
    div.notes {
        min-width: 400px;
        grid-template-columns: 1fr; /* Adjust to 1 card per row for even smaller screens */
    }
}

@media screen and (max-width: 450px) {
    div.notes {
        min-width: 400px;

        grid-template-columns: 1fr; /* Adjust to 1 card per row for even smaller screens */
    }
}
