div.reviewingSectionContainer {
    margin: 1% 20% 1% 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    div.test {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: fixed;
        bottom: 2%;
        left: 1%;

        span {
            cursor: pointer;
            color: var(--textColor_gray_dark);
        }
    }

    div.listOfContentContainer-largeSize {
        position: fixed;
        top: 15px;
        left: 20px;


        div.tableOfContent-largeSize {
            display: flex;
            flex-direction: column;
            /*gap: 1rem;*/

            h1 {
                font-weight: lighter;
                margin-bottom: 50px;
                color: var(--textColor_gray_dark);
            }

            div.contentList {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                span {
                    font-weight: lighter;
                    cursor: pointer;
                    color: var(--textColor_gray_dark);
                }
            }

        }
    }


    h1#noteCardTitle {
        text-align: center;
        font-weight: lighter;
    }

    div.noteCardsHighlightsContainer {

        div.topLayer {
            display: flex;
            flex-direction: row;
            align-items: center;
            /*justify-content: start;*/
            width: 100%;

            h1#noteCardTitle {
                color: var(--secondPrimaryTextColor);
                text-align: center;
                width: 100%;
                font-size: clamp(25px, 2.5vw, 100px);
            }

            img#switchToMemoModeIcon {
                cursor: pointer;
                filter: var(--imgColor_dark_gray);
            }

            img#goBackToHomePageIcon {
                filter: var(--imgColor_dark_gray);
                cursor: pointer;
                background-color: black;
                border-radius: 4px;
            }
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}

div.noteCardsMemoModeContainer {
    background-color: var(--darkThemeBody);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadowing);


    div.memoMode {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        div.quickTools {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 25px;

            img {
                filter: var(--imgColor_dark_gray);
                cursor: pointer;
            }
        }
    }
}

@media screen and (width <= 1200px) {
    div.reviewingSectionContainer {
        margin: 1% 10% 1% 35%;
        /*margin: 1% 0 0 15%;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;


        div.listOfContentContainer-largeSize {
            position: fixed;
            top: 20px;
            left: 20px;
        }
    }

}

@media screen and (width <= 800px) {
    div.reviewingSectionContainer {
        margin: 5% 5%;

        div.noteCardsHighlightsContainer {
            width: 100%;
            margin: 0 0;
            display: flex;
            flex-direction: column;
        }


        div.reviewingSection div.topLayer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1rem;

            img#viewListOfContentIcon {
                margin-left: 3px;
            }
        }
    }
}