div.notificationsComponent {
    background-color: var(--backgroundColor_notificationComponent);

    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: .9rem;

    h1#NotifierUsername {
        font-size: 1rem;
        padding: 4px 8px;
        background-color: var(--darkTheme_componentsBackgroundColor);
        color: white;
        width: fit-content;
        cursor: pointer;
        border-radius: 6px;
        margin: 10px 0;
    }

    h1#NotifierUsername:hover {
        text-decoration: underline white;
    }

    A.actionOfChange {
        text-decoration: underline black;
        color: var(--textColor);
    }
}

/*---- report bugs component styling*/
div.reportBugsContainer {
    & h1 {
        margin-bottom: 10px;
        font-size: 1.5rem;
        color: var(--textColor);
    }

    div.issuePriority {
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        gap: 10px;

        button {
            padding: 5px 10px;
            outline: none;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            color: var(--textColor);
            background-color: var(--backgroundColor_notificationComponent);
        }

        button.basic:hover {
            background-color: #eaf7ff;
        }

        button.important:hover {
            background-color: #fff8ea;
        }

        button.urgent:hover {
            background-color: #ffeaea;
        }

        button.basic:active {
            background-color: #eaf7ff;
        }

        button.important:focus {
            background-color: #fff8ea;
        }

        button.urgent:focus {
            background-color: #ffeaea;
        }
    }

    form#formElement {

        textarea {
            resize: none;
            padding: 15px;
            outline: none;
            border: 1px solid var(--backgroundColor_componentsInsideComponent);
            border-radius: 10px;
            background-color: var(--backgroundColor_notificationComponent);
            color: var(--textColor);
        }

        button {
            margin: 10px 0;
            padding: 8px 10px;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 10px;
            background-color: var(--backgroundColor_componentsInsideComponent);
            color: white;
            cursor: pointer;
        }

        button:hover{
            background-color: var(--hoveredButtonWithBlackBackGroundColor);
            transition: .2s ease;
        }
    }
}