footer {
    margin: 10% 0 0 0;
    padding: 0 10% 5% 10%;
    color: var(--textColor_gray_dark);
    background-color: var(--darkThemeBody-darkerGray_black);

    & div.topLayer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        height: 20vh;
    }
}

div.reanotesGeneralInfos-subscribed {
    h1 {
        font-size: 2rem;
        /*width: 70%;*/
        margin: 15px 0;
    }

    button.tryReanotesButton {
        background-color: #282929FF;
        color: white;
        padding: 15px 30px;
        border-radius: var(--borderRadius);
        letter-spacing: 3px;
        font-size: 1rem;
        border: none;
        outline: none;
        cursor: pointer;
    }

    button.tryReanotesButton:hover {
        background-color: var(--hoveredButtonWithBlackBackGroundColor);
        transition: .2s ease;
    }
}


div.bottomLayer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.availableOnAllPlatforms-section,
    div.availabilityPlatforms-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    div.availabilityPlatforms-section button {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 20px;
        border-radius: 6px;
        border: var(--border);
        background-color: var(--tag_backgroundColor);
        border: none;
        cursor: pointer;
    }
}


img#reanotesIcon {
    border-radius: var(--borderRadiusRNICON);
}

@media screen and (width <= 700px) {
    footer {
        padding: 5%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: black;


        & div.topLayer {
            display: flex;
            flex-direction: column;
            align-items: start;
            /*justify-content: space-between;*/
            /*gap: 20rem;*/

            height: 100%;

            div.readnotes-logo-name {
                display: flex;
                justify-content: start;
                align-items: start;
            }

            div.reanotesGeneralInfos-subscribed {
                h1 {
                    text-align: start;
                    margin: 3.5rem 0;
                }

                button.tryReanotesButton {
                    width: 100%;
                }
            }
        }


        div.bottomLayer {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: space-between;
            align-items: center;

            div.availableOnAllPlatforms-section {
            }

            div.availabilityPlatforms-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            div.availabilityPlatforms-section button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                width: 80vw;
                padding: 10px 20px;
                border-radius: var(--borderRadius);
                border: var(--border);
                cursor: pointer;

            }
        }

    }

}