div.browsingContainer{
    display: flex;
    flex-direction: row;
    align-items: center;

    a{
        color: var(--textColor_gray_dark);
        /*background-color: black;*/
        font-size: 1.2rem;
        padding: 0 5px;
        border-radius: 10px;
        text-decoration: none;
        transition: .2s ease;
        font-weight: normal;
        letter-spacing: -1.5px;
    }

    a:hover{
        /*background-color: var(--hoveredButtonWithBlackBackGroundColor);*/
        transition: .2s ease;
        color: #5d5d5d;
        /*border: 1px solid black;*/
    }
}

@media screen and (width <= 1420){

}