.homeContainer {
    position: relative;
}

.flashcardSettingsContainer {
    position: relative;
    display: inline-block;
}

.flashcardSettings {
    cursor: pointer;
}

.frontNoteSettingContainer {
    background-color: var(--darkThemeBody-darkerGray_black);
    position: absolute;
    top: 0;
    /*left: calc(100% + -50px);*/
    padding: 5px;
    width: 165px;
    border-radius: 6px;
    border: 1px solid #444444;
    z-index: 10;
    transform: none;
    box-shadow: 2px 2px black;

    ul li {
        padding: 10px;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        img {
            filter: var(--imgColor_dark_gray);
        }

        color: var(--textColor_gray_dark);
    }

    ul li:hover {
        background-color: var(--backgroundColor_frontnote_hovered);
        border-radius: 3px;
    }

    ul li:last-child {
        color: red;
        border-radius: 8px;
    }

    ul li:last-child:hover {
        background-color: #ffe9e9;
    }
}
