div.userProfilePageContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin: 1% 10.5%;
    height: 100vh;
    padding: 30px 50px;

    border-radius: 20px;
    background-color: white;
    color: black;


    div.userBriefIntro{
        display: flex;
        align-items: center;
        gap: 2rem;

        img{
            border-radius: 20px;
        }

        div.aboutUserSection{
            h1{
                font-size: 1.5rem;
                text-decoration: underline white;
                margin-bottom: 5px;
                font-weight: bolder;
            }
            width: 50%;
        }

        div.user_followers_followee{
            display: flex;
            flex-direction: column;
            font-size: .5rem;
        }
    }

    div.otherInfos{
        margin: 2% 0;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        div.userInterests{
            h1{
                font-size: 1.5rem;
                text-decoration: underline white;
                margin-bottom: 5px;
                font-weight: bolder;
            }

            ul{
                display: flex;
                flex-direction: row;
                gap: 10px;

                li{
                    list-style: none;
                    padding: 5px 10px;
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                }
            }
        }

        div.userNoteCards{
            h1{
                font-size: 1.5rem;
                text-decoration: underline white;
                margin-bottom: 5px;
                font-weight: bolder;
            }

            div.userPopularNotecards{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 1rem;

            }
        }
    }
}