div.noteCardReviewPageContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    background-color: var(--backgroundColor_frontnote);
    width: 65%;
    padding: 30px;
    border-radius: var(--borderRadiusNote);
    /*box-shadow: 1px 1px 0 2px black;*/
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);

    div.content_moreOptions{
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        p#noteCardReviewContent{
            width: 100%;
            outline: none;
            color: var(--textColor_gray_dark);
        }

        img#moreOptions{
            cursor: pointer;
            filter: var(--imgColor_dark_gray);
        }
    }

    div.editingToolsLayer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 2rem;

        img{
            cursor: pointer;
            filter: var(--imgColor_dark_gray);
        }
    }
}

div.noteCardMemorizeContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

    background-color: var(--backgroundColor_frontnote);
    color: var(--textColor_gray_dark);
    width: 100%;
    height: 80vh;
    padding: 30px;
    border-radius: var(--borderRadiusNote);

    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);

    div.cardsLeftStatus{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span{
            padding: 4px 10px;
            border-radius: 5px;
        }

        span.duesCards{
            background-color: var(--button_backgroundColor_statsComponents);
            border: 1px solid black;
            color: var(--textColor_gray_dark);

        }
        span.newCards{
            background-color: var(--button_backgroundColor_statsComponents);
            border: 1px solid black;
            color: var(--textColor_gray_dark);
        }
    }

    div.cards div.cardContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        p#cardTerm, p#cardDefinition{
            text-align: justify;
            padding: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;

        }

        img{
            cursor: pointer;
            padding: 20px;
            height: 50vh;
            filter: var(--imgColor_dark_gray);

        }

        img:hover{
            background-color: #f8f8f8;
            border-radius: 10px;
            filter: var(--imgColor_dark_gray);

        }
    }

    div.leftQuantityCards{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            filter: var(--imgColor_dark_gray);
        }
    }
}

div.difficultyLearningProcess{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
    background-color: var(--backgroundColor_frontnote);
    width: 70vw;
    padding: 10px;

    border-radius: var(--borderRadiusNote);
    /*box-shadow: 1px 1px 0 2px black;*/

    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);

    button{
        cursor: pointer;
        padding: 10px 50px;
        font-size: 1rem;
        background-color: transparent;
        border-radius: 10px;
        outline: none;
        color: var(--textColor_gray_dark);
        border: none;
    }

    hr{
        color: var(--darkThemeBody);
    }

}