div.folderContainer {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

div.folderContainer ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin-top: 3vh;
    margin-left: 11vw;
    cursor: pointer;
    font-size: 1rem;

    & a {
        color: #ababab;
        text-decoration: none;
    }

    & a.active {
        color: black;
        text-decoration: underline solid black;

    }
}

div.folderContainer ul{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    letter-spacing: 2px;
}

div.folderContainer ul li:last-child span {
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
}

/*styling addFolderInputField*/
input#addFolderInputField{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    padding-top: 3px;
    width: auto;

}