div.folderContainer {
    position: sticky;
    top: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    font-family: Arial, sans-serif;
    width: 78vw;
    margin: 40px 11%;
    z-index: 1;
    border-radius: 10px;
    background-color: var(--darkTheme_componentsBackgroundColor);

    cursor: default;

    div.folders-section{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

div.filtering-section{
    color: white;
}



div.folderContainer ul {

    overflow-x: scroll;
    scrollbar-width: none;
    width: 99.5vw;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    list-style: none;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: lighter;

    & a {
        color: #ffffff;
        padding: 3px 5px;
        text-decoration: none;
    }

    & a.active {
        color: white;
        padding: 5px 10px;
        border-radius: 6px;
        /*border: 1px solid white;*/
        background-color: var(--backGroundColorHoveredButton);
        /*font-weight: 900;*/
        transition: .2s ease;

    }
}

div.folderContainer ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    letter-spacing: 2px;
}

div.folderContainer ul li:last-child span {
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

/*---- filter icon styling */
div.filterIcon {
    cursor: pointer;

    img {
        margin: 17px 20px 0 0;
    }
}

/*styling addFolderInputField*/
input#addFolderInputField {
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.54);
    font-weight: 900;
    transition: .2s ease;

    outline: none;
    font-size: 1rem;
    /*padding-top: 3px;*/
    width: auto;

}

input#addFolderInputField::placeholder {
    color: white
}