div.homeContainer {
    color: var(--textColor_gray_dark);
    border: var(--border_frontNote);
    height: 185px;
    padding: var(--paddingNote);
    border-radius: var(--borderRadiusNote);
    transition: .2s ease;
    cursor: pointer;
    background-color: var(--backgroundColor_frontnote);
}

div.homeContainer:hover {
    background-color: var(--backgroundColor_frontnote_hovered);
    transition: .2s ease;
}

div.topLayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    height: fit-content;

    & div.flashcardInfo {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 10px;

        & img {
            border-radius: var(--borderRadiusImg);
            border: 2px solid black;
        }

        & div.bookInfos {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            width: 100%;

            h2#bookTitle{

                font-size: 1rem; /* Adjust the font size as needed */
                /*white-space: nowrap; !* Prevents the text from wrapping to a new line *!*/
                overflow: hidden; /* Ensures the overflow is clipped */
                text-overflow: ellipsis; /* Displays '...' when the text is too long */
                min-width: 0; /* Allows the text to shrink fully if required */
            }


            & p {
                color: #ababab;
                font-size: 1rem;
            }

            & div.bookTags {
                margin: 10px 0;

                & ul li {
                    list-style: none;
                    background-color: var(--tag_backgroundColor);
                    padding: 2px 6px;
                    font-size: .8rem;
                    border-radius: var(--borderRadiusTags);
                }

                li:hover {
                    background-color: var(--hoveredButtonTextColor);
                }

            }

        }
    }

    & div.flashcardSettings {
        display: flex;
        align-items: center;
        height: fit-content;
        border-radius: 10px;
        padding: 3px 5px;
        cursor: pointer;
        transition: .2s ease-out;

        img {
            filter: var(--imgColor_dark_gray)
        }
    }

    & div.flashcardSettings:hover {
        background-color: var(--hoveredButtonTextColor);
        transition: .2s ease-in;
    }
}

@media screen and (width <= 700px){
    div.homeContainer {
        color: var(--textColor);
        width: 90vw;
        height: 185px;
        padding: var(--paddingNote);
        border-radius: var(--borderRadiusNote);
        transition: .2s ease;
        cursor: pointer;

        div.topLayer div.flashcardInfo div.bookInfos h2#bookTitle{
            font-size: 15px;
        }
    }
}

@media screen and (width <= 355px){
    div.homeContainer {
        color: var(--textColor);
        height: 185px;
        padding: var(--paddingNote);
        border-radius: var(--borderRadiusNote);
        transition: .2s ease;
        cursor: pointer;
    }
}